<div class="columns is-centered">
  <div class="column is-half">
    <%= form_with url: session_path do |form| %>
      <div class="field">
        <%= form.label :email, class: "label" %>
        <div class="control">
          <%= form.email_field :email, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email], class:"input" %>
        </div>
      </div>

      <div class="field">
        <%= form.label :password, class: "label" %>
        <div class="control">
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: "input" %>
        </div>
      </div>

      <%= form.submit "Sign in", class: "button is-primary" %>
    <% end %>
    <div class="mt-4 field">
      <%= link_to "Sign up", new_user_path, class: "is-clickable is-underlined has-text-info" %>
      <span class="has-text-info">&bull;</span>
      <%= link_to "Contact", "mailto:nick@shipyrd.io", class:"is-inline is-clickable is-underlined has-text-info" %>
    </div>
  <div>
</div>
