<%= turbo_stream_from application %>

<div id="<%= dom_id application %>" class="mb-6">
  <h2 class="is-size-2 has-text-weight-medium">
    <%= link_to application.display_name, application_path(application), title: 'View this application' %>

    <% if params[:action] == "show" || params[:action].nil? %>
      <%= link_to edit_application_path(application), class: "mt-4 button is-small" do %>
        <span class="icon is-small">
          <i class="fa-solid fa-edit"></i>
        </span>
      <% end %>
    <% end %>
  </h2>

  <%= render partial: "applications/destination", collection: application.destinations.latest %>
</div>
