<%= turbo_stream_from application %>
<div id="<%= dom_id application %>">
  <h2><%= link_to application.display_name, edit_application_url(application), title: 'Edit this application' %></h2>
  <% application.destinations.order("created_at DESC").each_with_index do |destination, i| %>
    <% deploy = application.latest_deploy(destination: destination.name) %>
      <article>
        <kbd><%= link_to_if destination.url.present?, destination.name || "default", destination.url, target: '_blank' %></kbd>

        <% if deploy %>
          <% color = application_status_color(deploy.status) %>
          <p>
            <label for="status">
              <em><%= deploy.status%></em>
              <% if deploy.runtime.present? %>
                <cite><%= deploy.runtime %>s</cite>
              <% end %>
            </label>

            <progress class="<%= color %>" id="status" max="4" value="<%= deploy.progress_value %>"></progress>

            <small>
              <em><%= deploy.commit_message %></em>
            </small>
          </p>

          <aside class="aside_naked">
            <% if deploy.compare_url.present? %>
              <%= link_to "Compare changes", deploy.compare_url, target: "_blank", class: "button" %>
            <% end %>
          </aside>

          <p>
            <% if deploy.performer_avatar %>
              <%= image_tag deploy.performer_avatar, width: 25 %>
            <% else %>
              <p>by <%= deploy.performer %></p>
            <% end %>

            <small>
              <time datetime="<%= deploy.recorded_at %>">
                <%= time_ago_in_words(deploy.recorded_at) %> ago
              </time>
            </small>

          <p>
        <% end %>
      </article>
  <% end %>
</div>