<% owner_type = owner.class.to_s %>

<% if channels.present? %>

  <% channels.each do |channel| %>
    <% icon = channel_icon(channel.channel_type) %>

    <div class="box mb-2">
      <div class="columns is-vcentered">

        <div class="column">
          <span class="icon">
            <i class="<%= icon %>"></i>
          </span>

          <%= channel.display_name %>
          notifications

          <% if channel.events.present? %>
            are enabled for
            <%= channel.events.map(&:humanize).map(&:pluralize).join(", ") %>
          <% else %>
            are off
          <% end %>

        </div>

        <div class="column has-text-right">

          <span class="icon-text">
            <%= button_to application_channel_url(owner, channel), method: :delete, class: "button is-danger", title: "Disconnect #{channel.display_name}", data: { turbo_confirm: "Are you sure?" } do %>
              <span class="icon">
                <i class="<%= icon %>"></i>
              </span>
              <span>
                Disconnect <%= channel.display_name %>
              </span>
            <% end %>
          </span>

          <%= link_to "Edit", edit_application_channel_path(owner, channel), class: "button is-link has-text-white", alt: "Edit #{channel.channel_type} channel"%>

        </div>

      </div>
    </div>
  <% end %>

<% end %>
