<%= form_with(model: application, class: "contents") do |form| %>
  <%= render "shared/errors", form: form %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :repository_url, class: "label" %>
    <div class="control">
      <%= form.text_field :repository_url, class: "input" %>
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= form.submit "Update application", class: "button is-primary" %>
    </div>
    <div class="control">
      <%= button_to "Destroy application", application_path(@application), method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "button is-danger" %>
    </div>
  </div>
<% end %>

<hr>

<h3 class="is-size-3 mt-4">Connections</h3>

<%= render "connections/connections" %>

<hr>

<h3 class="is-size-3 mt-4">Destinations</h3>

<% application.destinations.each do |destination| %>
  <div class="box">
    <div class="columns">
      <div class="column">
        <%= destination_tag(destination) %>
        <%= pluralize(destination.servers_count, "server") %>
      </div>

      <div class="column has-text-right">
        <%= link_to "View", application_destination_path(application, destination), class: "button is-link has-text-white", alt: "View #{destination.name} destination" %>
        <%= link_to "Edit", edit_application_destination_path(application, destination), class: "button is-link has-text-white", alt: "Edit #{destination.name} destination" %>
      </div>
    </div>
  </div>
<% end %>