<%= form_with(model: application, class: "contents") do |form| %>
  <% if application.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
        <% application.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :repository_url %>
    <%= form.text_field :repository_url, class: "w-full" %>
  </div>

  <%= form.submit "Update application" %>
<% end %>
  <%= button_to "Destroy application", application_path(@application), method: :delete, data: { turbo_confirm: "Are you sure?" } %>

<h3>Connections</h3>

<%= render "connections/connections" %>

<h3>Destinations</h3>

<% application.destinations.each do |destination| %>
  <article>
    <kbd><%= destination.name %></kbd>
    <%= pluralize(destination.servers.count, "server") %>

    <aside class="aside_naked">

      <%= link_to "View", application_destination_path(application, destination), class: "button", alt: "Edit #{destination.name} destination" %>
      <%= link_to "Edit", edit_application_destination_path(application, destination), class: "button", alt: "Edit #{destination.name} destination" %>
    </aside>
  </article>
<% end %>