<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_refresh_tag %>

<div id="applications">
  <% if @applications.empty? %>
    <%= turbo_stream_from :applications %>

    <div class="box">
      <h3 class="is-size-3 mb-4">
        Waiting for a deploy to start...
      </h3>

      <%= link_to "Setup instructions", "https://github.com/shipyrd/shipyrd", class: "button is-primary" %>
    </div>
  <% else %>
    <%= render @applications %>
  <% end %>
