<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_refresh_tag %>
<%= turbo_stream_from :applications %>

<div id="applications" class="w-full">
  <% if notice.present? %>
    <p class="notice" id="notice"><%= notice %></p>
  <% end %>

  <% if @applications.empty? %>
    <div class="rounded-lg border border-gray-200 bg-white my-5">
      <div class="items-center border-gray-200 border-b rounded-t-lg bg-gray-50">
        <h3 class="text-center text-base font-semibold leading-6 border-gray-200 text-gray-900 pb-5 px-4 pt-5">
          Waiting for a deploy to start...
        </h3>

      </div>

      <div class="border-gray-200 py-2 mb-2 px-6">
        <p>
          <div class="text-center">
            <%= link_to "Setup instructions", "https://github.com/shipyrd/shipyrd", class: "button" %>
          </div>
        </p>
      </div>
    </div>
  <% else %>
    <%= render @applications %>
  <% end %>
