<%= turbo_refreshes_with method: :morph, scroll: :preserve %>
<%= turbo_stream_refresh_tag %>

<div id="applications">
  <% if @applications.empty? %>
    <%= turbo_stream_from :applications %>

    <div class="box">
      <h3 class="is-size-3 mb-4">
        Configure your first application
      </h3>

      <%= link_to "Create your first application", new_application_path, class: "button is-primary" %>
    </div>
  <% else %>
    <%= render @applications %>
  <% end %>
