<div id="<%= dom_id deploy %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Deployed at:</strong>
    <%= deploy.deployed_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Status:</strong>
    <%= deploy.status %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Deployer:</strong>
    <%= deploy.deployer %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Version:</strong>
    <%= deploy.version %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Service version:</strong>
    <%= deploy.service_version %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hosts:</strong>
    <%= deploy.hosts %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Command:</strong>
    <%= deploy.command %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subcommand:</strong>
    <%= deploy.subcommand %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Destination:</strong>
    <%= deploy.destination %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= deploy.role %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Runtime:</strong>
    <%= deploy.runtime %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this deploy", deploy, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this deploy', edit_deploy_path(deploy), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
