<%= turbo_stream_from runner %>

<div id="<%= dom_id runner %>"%>
  <p class="mb-5">
    <%= runner.finished? ? "Ran": "Running" %>

    <code class="is-medium">
      <%= runner.command %>
    </code>
  </p>

<pre><code class="language-bash">
<% if runner.output.present? %>
  $ <%= runner.full_command %>
<% end %>
<%= runner.output %>
</code></pre>

</div>