<h2 class="mb-4 is-size-2 has-text-weight-medium">
  <%= @application.display_name %> 

  <%= destination_tag(@destination) %>
</h2>

<%= form_with(model: @runner, url: application_destination_runners_path(@application, @destination)) do |form| %>
  <%= render "shared/errors", form: form %>

  <%= form.label :command, "Command to run", class: "label" %>

  <div class="field has-addons">
    <p class="control">
      <a class="button is-static">
        kamal
      </a>
    </p>
    <p class="control is-expanded">
      <%= form.text_field :command, class: "input" %>
    </p>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Run command on #{@destination.display_name}", class: "button is-primary" %>
    </div>
  </div>
<% end %>
