<h2 class="mb-4 is-size-2 has-text-weight-medium">
  <%= @application.display_name %> 

  <%= destination_tag(@destination) %>
</h2>

<%= form_with(model: @runner, url: application_destination_runners_path(@application, @destination)) do |form| %>
  <% if @runner.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@runner.errors.count, "error") %> prohibited this runner from being starting:</h2>

      <ul>
        <% @runner.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :command, "Command to run", class: "label" %>
    <div class="control">
      <%= form.text_field :command, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Run command on #{@destination.display_name}", class: "button is-primary" %>
    </div>
  </div>
<% end %>
