<h2>
  <%= @destination.application.name %>
  <kbd><%= @destination.name %></kbd>
</h2>

<%= form_with(model: @runner, url: application_destination_runners_path(@application, @destination)) do |form| %>
  <% if @runner.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@runner.errors.count, "error") %> prohibited this runner from being starting:</h2>

      <ul>
        <% @runner.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :command, "Command to run", style: "display: block" %>
    <%= form.text_field :command, class: "w-full" %>
  </div>

  <div>
    <%= form.submit "Run command on #{@destination.display_name}" %>
  </div>
<% end %>
