<% content_for :head do %>
  <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" %>
  <script>hljs.highlightAll();</script>
<% end %>


<h2>
  <%= @destination.application.name %>
  <kbd><%= @destination.name %></kbd>
</h2>

<%= render @runner %>