<% owner_type = owner.class.to_s %>

<% if channels.present? %>

  <% channels.each do |channel| %>
    <% icon = channel_icon(channel.channel_type) %>

    <div class="box">
      <div class="columns is-vcentered">

        <div class="column"
          <span class="icon">
            <i class="<%= icon %>"></i>
          </span>

          <%= channel.display_name %>
          notifications

          <% if channel.events.present? %>
            are enabled for
            <%= channel.events.map(&:humanize).map(&:pluralize).join(", ") %>
          <% else %>
            are off
          <% end %>

        </div>

        <div class="column has-text-right">

          <span class="icon-text">
            <%= button_to application_channel_url(owner, channel), method: :delete, class: "button is-danger", title: "Disconnect #{channel.display_name}", data: { turbo_confirm: "Are you sure?" } do %>
              <span class="icon">
                <i class="<%= icon %>"></i>
              </span>
              <span>
                Disconnect <%= channel.display_name %>
              </span>
            <% end %>
          </span>

          <%= link_to "Edit", edit_application_channel_path(owner, channel), class: "button is-link has-text-white", alt: "Edit #{channel.channel_type} channel"%>

        </div>

      </div>
    </div>
  <% end %>

<% end %>

<h5 class="is-size-5">Add a connection</h5>

<% Channel.available_channels(owner_type).each do |provider| %>

  <span class="icon-text">
    <%= link_to connect_channel_url(provider, application_id: owner.id), class: "button is-dark has-text-white", title: "Connect #{provider}" do %>
      <span class="icon">
        <i class="<%= channel_icon(provider) %>"></i>
      </span>
      <span>
        Connect <%= provider.to_s.titleize %>
      </span>
    <% end %>
  </span>

<% end %>
