<h2 class="mb-4 is-size-2 has-text-weight-medium">
  Adding a webhook to
  <%= link_to @application.display_name, @application, class: "is-underlined is-clickable" %>
</h2>


<%= form_with(model: [@application, @webhook], class: "contents") do |form| %>
  <%= render "shared/errors", form: form %>

  <div class="field">
    <%= form.label :url, "URL", class: "label" %>
    <div class="control">
      <%= form.text_field :url, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>
