<div id="<%= dom_id destination %>">
  <p>
    <strong>Name:</strong>
    <%= destination.name %>
  </p>

  <p>
    <strong>URL:</strong>
    <%= destination.url %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= destination.branch %>
  </p>

  <p>
    <strong>Public key:</strong>
    <%= destination.public_key %>
  </p>
</div>