<%= turbo_stream_from destination %>

<% application = destination.application %>

<div id="<%= dom_id destination %>">
  <h2 class="mb-4 is-size-2 has-text-weight-medium">
    <%= link_to application.display_name, application_path(application) %>

    <%= destination_tag(destination) %>
  </h2>

  <div class="content">
    <p>
      <strong>URL:</strong>
      <% if destination.url.present? %>
        <% if destination.favicon_url.present? %>
          <%= image_tag destination.favicon_url, 
                        alt: "Favicon", 
                        class: "favicon", 
                        style: "width: 16px; height: 16px; margin-right: 8px; vertical-align: middle;",
                        onerror: "this.style.display='none'" %>
        <% end %>
        <%= link_to destination.url, destination.url, target: "_blank", class: "is-link" %>
      <% end %>
    </p>

    <p>
      <strong>Branch:</strong>
      <span class="tag"><%= destination.branch %></span>
    </p>
  </div>

  <%= link_to "Edit this destination", edit_application_destination_path(application, destination), class: "button is-primary my-4" %>

  <hr>

  <h3 class="is-size-3">Servers</h3>

  <% if destination.servers.empty? %>
    <p>No servers deployed to for this destination.</p>
  <% else %>
    <% destination.servers.each do |server| %>
      <%= render server %>
    <% end %>
  <% end %>
</div>
