<div id="<%= dom_id destination %>">
  <h2>
    <%= destination.application.name %>
    <kbd><%= destination.name %></kbd>
  </h2>

  <p>
    <strong>URL:</strong>
    <%= link_to destination.url, destination.url, target: "_blank" %>
  </p>

  <p>
    <strong>Branch:</strong>
    <%= destination.branch %>
  </p>

  <article>
    <strong>
      Connecting Shipyrd to your servers
    </strong>

    <p>
      A key pair is generated for each application + destination combination within Shipyrd. 
    </p>

    <p>
      To give Shipyrd access to your servers you'll need to add the public key to the <code>~/.ssh/authorized_keys</code> file. Shipyrd uses this connection to run various Kamal commands like logs, app exec, server exec when you request it to. 
    </p>

    <p>
      The following command will add the public key to the authorized_keys file on your server via the <code>kamal server exec</code> command.
    </p>

    <p>
      Run this command locally:

      <button class="btn clipboard" data-clipboard-target="#destination_setup_<%= destination.id %>">
        Copy to clipboard
        <i class="fa-solid fa-copy"></i>
      </button>
    </p>
    <article class="notice">
      <code id="destination_setup_<%= destination.id %>">
        kamal server exec -d <%= destination.name %> "mkdir ~/.ssh && echo <%= destination.public_key %> >> ~/.ssh/authorized_keys && chmod 700 ~/.ssh && chmod 600 ~/.ssh/authorized_keys"
      </code>
    </article>

  </article>


  <%# TODO: List servers out here %>
</div>