<%= form_with(model: destination, url: application_destination_path(destination.application, destination)) do |form| %>
  <% if destination.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(destination.errors.count, "error") %> prohibited this destination from being saved:</h2>

      <ul>
        <% destination.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input", disabled: true %>
    </div>
  </div>

  <div class="field">
    <%= form.label :url, class: "label" %>
    <div class="control">
      <%= form.text_field :url, class: "input" %>
    </div>
  </div>

  <div class="field">
    <%= form.label :branch, style: "label" %>
    <div class="control">
      <%= form.text_field :branch, class: "input" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.submit "Update destination", class: "button is-primary" %>
    </div>
  </div>
<% end %>
