<%= form_with(model: @organization, class: "contents") do |form| %>
  <%= render "shared/errors", form: form %>

  <div class="field">
    <%= form.label :name, class: "label" %>
    <div class="control">
      <%= form.text_field :name, class: "input" %>
    </div>
  </div>

  <h3 class="is-size-3 mt-4">Connections</h3>

  <%= render "shared/connections", channels: @organization.channels.ownerless, owner: @organization  %>

  <hr>

  <div class="field">
    <div class="control">
      <%= form.submit class: "button is-primary" %>
    </div>
  </div>
<% end %>
