<!DOCTYPE html>
<html>
  <head>
    <title>Shipyrd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= favicon_link_tag "favicon.png" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>

  <body>
    <main>
      <%= link_to image_tag("logo.png", width: 125), root_url %>

      <%= yield %>
    </main>
  </body>
</html>
