<!DOCTYPE html>
<html>
  <head>
    <title>Shipyrd</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>

    <%= favicon_link_tag "favicon.png" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>

    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>

  <body class="container is-max-desktop pb-6 px-4">
    <nav class="navbar py-5" role="navigation" aria-label="main navigation">
      <%= link_to image_tag("logo.png", width: 125), root_url %>

      <% if current_admin? %>
        <div class="navbar-end is-transparent is-hoverable">
          <div class="navbar-item has-dropdown is-hoverable">

            <a class="navbar-link">
              <span class="icon">
                <i class="fa-solid fa-gear"></i>
              </span>
            </a>

            <div class="navbar-dropdown is-boxed">
              <%= link_to "Add application", new_application_path, class: "navbar-item" %>
              <%= link_to "Invite someone to Shipyrd", users_path, class: "navbar-item" %>
              <hr class="navbar-divider">
              <%= link_to "Users", users_path, class: "navbar-item" %>
            </div>
          </div>
        </div>
      <% end %>
    </nav>

    <%= render "shared/flash" %>

    <main class="container">
      <%= yield %>
    </main>

    <% if current_user %>
      <footer class="mt-4">
        <div class="has-text-centered">
          <p>
            <%= button_to "Sign out", session_path, method: :delete, class:"is-clickable is-underlined" %>
          </p>
        </div>
      </footer>
    <% end %>
  </body>
</html>
